---
const {title, years, degree, description, image} = Astro.props;
---

<div class="h-100">
    <div class="flex flex-col">
        <p class="text-2xl lg:text-4xl justify-evenly">
            {title}
        </p>
        <p class="text-xl lg:text-3xl">
            {years} <br/> {degree}
        </p>
        <p class="text-xl lg:text-2xl text-justify">
            {description}
        </p>
    </div>
        
    <img src={image} class="w-30 lg:w-50 h-30 md:w-40 md:h-40 lg:h-50 mt-5 md:mt-20 m-auto"/>
  
</div>