---
const {title, years, degree, description, image} = Astro.props;
---

<div class="h-100">
    <div class="flex flex-col">
        <p class="text-4xl justify-evenly">
            {title}
        </p>
        <p class="text-3xl">
            {years} | {degree}
        </p>
        <p class="text-2xl text-justify">
            {description}
        </p>
    </div>
        
    <img src={image} class="w-50 h-50 mt-10 ml-30"/>
  
</div>