---
import { number } from "astro:schema";
import leftArrow from "../assets/left arrow.png";
import rightArrow from "../assets/right arrow.png";
import github from "../assets/github2.png";

interface Props {
    title: string;
    techs: string[];
    description: string;
    images: string[];
    image_width: string;
    link: string;
    id: string;
}

const { title, techs, description, images, image_width, link, id } =
    Astro.props;
const uniqueId = id;
---

<div class="flex flex-row w-full mb-10">
    <div class="flex flex-col max-w-1/2 pl-20 pr-10 ">
        <p class="text-4xl">
            {title}
        </p>

        <div class="grid grid-cols-4 gap-5 my-5 w-full pr-20">
            {
                techs.map((tech) => (
                    <a class="flex text-xl text-white bg-gray-800 px-2 py-1 mx-4 rounded-sm items-center justify-center">
                        {tech}
                    </a>
                ))
            }
        </div>

        <p class="text-2xl">About it:</p>
        <p class="text-2xl text-justify">
            {description}
        </p>

        <div class="flex flex-row items-center mt-4 ml-5 gap-5">
            <p class="text-xl">Code:</p>
            <a href=`${link}` class="w-12 h-12">
                <img src={github.src} class="rounded-md" />
            </a>
        </div>
    </div>

    <div class=`m-auto relative pr-10 items-center`>
        <div
            class="overflow-hidden transition-transform ease-in-out border-4 border-gray-800"
        >
            <div
                id=`carousel-track-${uniqueId}`
                class=`flex ${image_width} duration-500`
            >
                {
                    images.map((image, index) => (
                        <img
                            src={image}
                            class="w-full flex-shrink-0 object-cover"
                        />
                    ))
                }
            </div>

            <button
                id=`prev-button-${uniqueId}`
                class="absolute top-1/2 left-4 -translate-y-1/2 bg-neutral-300 bg-opacity-50 text-white p-3 rounded-full transition-all focus:outline-none"
                aria-label="Anterior"
            >
                <img src={leftArrow.src} class="w-5 h-5" />
            </button>

            <button
                id=`next-button-${uniqueId}`
                class="absolute mr-10 top-1/2 right-4 -translate-y-1/2 bg-neutral-300 bg-opacity-50 text-white p-3 rounded-full transition-all focus:outline-none"
                aria-label="Siguiente"
            >
                <img src={rightArrow.src} class="w-5 h-5" />
            </button>
        </div>
    </div>
</div>

<script define:vars={{ uniqueId, images }}>
    const track = document.getElementById(`carousel-track-${uniqueId}`);
    const slides = Array.from(track.children);
    const nextButton = document.getElementById(`next-button-${uniqueId}`);
    const prevButton = document.getElementById(`prev-button-${uniqueId}`);
    let currentIndex = 0;

    const updateCarousel = () => {
        if (track) {
            const SlideWidth = slides[0].clientWidth;
            console.log(SlideWidth);
            track.style.transform = `translateX(-${currentIndex * SlideWidth}px)`;
        }
    };

    nextButton?.addEventListener("click", () => {
        currentIndex = (currentIndex + 1) % slides.length;
        console.log(currentIndex);
        updateCarousel();
    });

    prevButton?.addEventListener("click", () => {
        currentIndex = (currentIndex - 1 + slides.length) % slides.length;
        console.log(currentIndex);
        updateCarousel();
    });

    window.addEventListener("resize", updateCarousel);
    document.addEventListener("DOMContentLoaded", updateCarousel);

    updateCarousel();
</script>
